[submodule "src/motion_matching"]
	path = src/motion_matching
	url = git@github.com:Nathan24zz/motion_matching.git
[submodule "src/tachimawari_interfaces"]
	path = src/tachimawari_interfaces
	url = https://github.com/ichiro-its/tachimawari_interfaces.git
[submodule "src/akushon"]
	path = src/akushon
	url = https://github.com/ichiro-its/akushon.git
[submodule "src/tachimawari"]
	path = src/tachimawari
	url = https://github.com/ichiro-its/tachimawari.git
[submodule "src/kansei_interfaces"]
	path = src/kansei_interfaces
	url = https://github.com/ichiro-its/kansei_interfaces.git
[submodule "src/keisan"]
	path = src/keisan
	url = https://github.com/ichiro-its/keisan.git
[submodule "src/musen"]
	path = src/musen
	url = https://github.com/ichiro-its/musen.git
[submodule "src/akushon_interfaces"]
	path = src/akushon_interfaces
	url = https://github.com/ichiro-its/akushon_interfaces.git
